.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form {
    display: flex;
    justify-content: center;
}
.form-set {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    text-align: center;
    margin: 16px;
    color: #2d465d;
}
.between {
    display: flex;
    align-items: center;
}
input {
    width: 300px;
    height: 50px;
    border-radius: 4px;
    font-family: inherit;
    text-align: center;
    color: #2d465d;
    border: 4px solid #fe5b35;
    background-color: white;

    &:focus {
        outline-color: #ff6b20;
        outline-width: 4px;
        opacity: 0.8;
    }
    &::placeholder {
        color: #2d465d;
    }
}

label {
    font-size: 20px;
    font-weight: bold;
}

h1 {
    color: #2d465d;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 4px;
    font-family: inherit;
    text-align: center;
    color: white;
    background-color: #fe5b35;
    border: none;

    &:hover {
        background-color: #ffc072;
        cursor: pointer;
    }
}

.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #2d465d;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 4px;
    font-family: inherit;
    text-align: center;
    color: white;
    background-color: #fe5b35;
    border: none;
    margin: 8px;

    &:hover {
        background-color: #ffc072;
        cursor: pointer;
    }
}

table {
    border-collapse: collapse;
    font-size: 20px;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    thead tr {
        background-color: #fe5b35;
        color: white;
        text-align: center;
    }

    th {
        padding: 12px 16px;
        color: white;
    }

    td {
        padding: 12px 16px;
        color: #2d465d;
    }
    tbody tr:last-of-type {
        border-bottom: 4px solid #fe5b35;
    }
}
img {
    margin: 8px;
    &:hover {
        cursor: pointer;
    }
}
